name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Install dependencies
        run: npm install -g firebase-tools
      
      - name: Deploy to Firebase
        run: firebase deploy --only hosting --project mindai-v5-1 --token ${{ secrets.FIREBASE_TOKEN }}
